<div class="row">
  <div class="col-md-2">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Takaisin
    </a>
  </div>
</div>

<div class="row" style="padding-top: 2em;">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        Kirjaa tunteja
      </div>
      <div class="card-body">
        <form #clientForm="ngForm" (ngSubmit)=onSubmit(clientForm)>
          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="projects">Valitse projekti</label>
              <select id="projects" class="form-control">
                <option selected>Valitse projekti...</option>
                <option>Projekti 1</option>
                <option>Projekti 2</option>
                <option>Projekti 3</option>
                <option>Projekti 4</option>
              </select>

            </div>

            <div class="form-group col-md-2">
              <label for="hours">Anna tunnit</label>
              <input type="number" class="form-control" required>
            </div>
          </div>
          <input type="submit" value="Tallenna tunnit" class="btn btn-outline-primary btn-sm">
        </form>
      </div>
    </div>
  </div>
</div>